body {
    font-family:"Arial";
}

.login-container {
    min-height: 100vh;
    background-image: url('../images/bg3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-inner-container{
    background-color: rgba(0, 0, 0, 0.5);
}

.index-container {
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.index-inner-container{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 10px 18px black;
}


.dashboard-container {
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dashboard-row .img{
    height: 250px;
    margin-bottom: 10px;
    box-shadow: 5px 10px 18px black;
    background-color: rgba(0, 0, 0, 0.5);
}

.dashboard-row{
    padding-top: 1;
}

.dashboard-row h1{
    color: white;
}


.details-container {
    min-height: 100vh;
    background-image: url('../images/bg4.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}